*{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav{
    width: 100%;
    padding: 0% 0 1%;
    box-shadow: 7px -1px 10px #80808047;
}

.nav{
    /* display: flex; */
    margin: auto;
    width: 85%;
    
}
.nav ul{
    display: flex;
    line-height: 2;
    justify-content: space-between;
}
.nav-top{
    display: flex;
    margin-top: -8%;
    margin-bottom: 1%;
    margin-left: 12%;
    justify-content: space-between;
}
.nav-bottom{
    width: 70%;
    margin-left: 12%;
    justify-content: flex-end;
}

.topnav{
    width: 30%;
}
.topnav button{
    border: none;
    background-color: #f7b944;
    padding: 15px;
    border-radius: 2px;
    margin-top: -2%;
    /* margin-bottom: 25px; */
}
#blue{
    text-decoration: underline;
    color: blue;
}


.food{
    padding: 50px;
    height: 300px;;
    
}
.food img{
    padding-left: 20px;

}
.food h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700px;
    padding-bottom: 40px;
}